/* Importar Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Estilo global */
html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.text-primary-custom {
  color: #04a1e9 !important;
}

.bg-primary-custom {
  background-color: #04a1e9 !important;
}

.btn-primary-custom {
  background-color: #04a1e9;
  border-color: #04a1e9;
}
.btn-primary-custom:hover {
  background-color: #0386c6;
  border-color: #0386c6;
}
.beta-tag {
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
footer a.text-white:hover {
  text-decoration: underline;
}
.beta-tag {
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.15rem 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
  color: #fff;
  background-color: rgba(40, 167, 69, 0.3); /* Verde suave */
  border: 1px solid rgba(40, 167, 69, 0.5);
}
